*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(
        135deg,
        #6987C9,
        #7880B5
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 28rem;
    width: 36rem;
    /* background-color: white; */
    /* border: 2px solid black; */
    display: flex;
}

.slide1{
    height: 101%;
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.slide1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    transform: translateY(-1%);
    box-shadow: 0 10px 18px;
    transition: 1s;

}
.shirt-images:hover{
    transform: translateY(-2%);
}
.btns{
    height: 4rem;
    width: 1.1rem;
    /* border: 2px solid black; */
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 6.5rem;
    right: 42rem;
    z-index: 10;
}
.btns button{
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 1rem;
    border: none;
    background-color: lightblue;
}
.btns button:hover{
    cursor: pointer;
    background-color: rgb(79, 211, 255);
}

.btns button:focus{
    background-color: rgb(53, 53, 255);
}
.slide2{
    height: 100%;
    width: 50%;
    background-color: antiquewhite;
    border: 1.5px solid grey;
    padding: 1rem;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.slide2 h3{
    color: rgba(60, 255, 0, 0.769);
}

.sizes{
    height: 2rem;
    /* border: 1px solid black; */
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sizes p{
    font-size: 1.1rem;
    color: grey;
}
.sizes span:hover{
    cursor: pointer;
    color: blue;
}
.color-all{
    height: 2rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.color-all p{
    font-size: 1.3rem;
    color: grey;
}

.color-all button{
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    border: none;
}

.color-all button:hover{
    cursor: pointer;
    border: 2px solid grey;
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.pink{
    background-color: pink;
}
.blue{
    background-color: blue;
}

.quantity{
    height: 3rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.quantity p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: grey;
}
.quantity input{
    height: 2rem;
    width: 4rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    background-color: rgb(210, 210, 210);
}

.buy-btn{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy{
    height: 2.2rem;
    width: 15rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    background-color: blue;
    color: white;
}
.buy:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 203);
    transform: translateY(-8%);
    transition: 1s;
    box-shadow: 0 5px 8px grey;
}