*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(./background\ image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.top-title{
    display: flex;
}
.top-title a{
    font-size: 2rem;
    font-weight: 700;
    color: #F7A9A8;
    margin: 1.5rem 0 0 4rem;
    text-decoration: none;
}
.top-title a:hover{
    cursor: pointer;
    color: #EF798A;
}

.main-content{
    height: 25rem;
    width: 33rem;
    /* border:  1px solid white; */
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
}


.main-content span{
    font-size: 1.1rem;
    color: #fff;
}
.main-content h1{
    font-size: 3rem;
    color: #fff;
}
.main-content h1 span{
    font-size: 3rem;
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(231, 65, 65);
}
.timer{
    height: 6rem;
    width: 25rem;
    /* border: 2px solid sandybrown; */
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    font-weight: 600;
}
.timer span{
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
.showtime{
    font: 2.5rem;
    font: 700;
    color: White;
    margin-left: 10px;
}

button{
    height: 2.5rem;
    width: 9rem;
    font-size: 1.1rem;
    background: transparent;
    color: white;
    border: 1.5px solid white;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    border: 1.5px solid lightgrey;
}

.rocket{
    background: none;
    width: 200px;
    position: absolute;
    transform: rotate(-36deg);
    right: 10%;
    bottom: 0%;
    animation: fly 4s linear infinite;
}

@keyframes fly{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}

