*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(./Crypto.jpg);
    background-size: cover;
}
.overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

header{
    display: flex;
    justify-content: space-around;
}
nav ul{
    height: 6rem;
    width: 40rem;
    /* border: 2px solid black; */
    color: white;
    font-size: 1.3rem;
    margin-top: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: white;
}
header select{
    height: 2.3rem;
    width: 5rem;
    background-color: black;
    color: white;
    border: 1.5px solid white;
    border-radius: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
}
.box1{
    height: 22rem;
    width: 30rem;
    /* border: 2px solid black; */
    margin-left: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.box1 span{
    font-size: 1.2rem;
    color: white;
}
#btn{
    height: 3rem;
    width: 8rem;
    border-radius: 2rem;
    border: none;
    background-color:orange;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}
#btn:hover{
    background-color:rgb(216, 140, 0);
    cursor: pointer;
}
.text{
   color: rgb(234, 233, 233);
   font-size: 6rem;
   font-family:  'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.box{
    height: 5rem;
    width: 37rem;
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid black; */
    position: absolute;
    right: 5rem;
}

/* Setting of All Coin */
.coin{
    height: 5rem;
    width: 9.5rem;
    border: 1px solid white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
}
.bitcoin{
    display: flex;
}
.bitcoin img{
    border-radius: 50%;
    height: 3rem;
    margin-top: 3px;
}
.bitcoin p{
    font-size: 1.4rem;
    color: white;
}
/* Ethereum Coin */
.ethereum{
    display: flex;
}
.ethereum img{
    border-radius: 50%;
    height: 3rem;
    margin-top: 3px;
}
.ethereum p{
    font-size: 1.4rem;
    color: white;
}
/* Doge Coin */

.dogecoin{
    display: flex;
}
.dogecoin img{
    border-radius: 50%;
    height: 3rem;
    margin-top: 3px;
}
.dogecoin p{
    font-size: 1.4rem;
    color: white;
}

.color-price{
    font-weight: 600;
    font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}