*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
.change-font{
    font-family: 'Gill Sans', 'Gill Sans MT';
}
header{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 990px;
    background-color: #f6f5f5;
    /* border-top: 1px solid #bebebe; */
    border-bottom: 1.5px solid #bebebe;
}
.gymname{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 50px;
    width: 130px;
    /* border: 1px solid black; */
}
.gymname p{
    color: rgb(255, 98, 0);
    font-size: x-large;
    margin-left: 5px;
    font-weight: 540;
}
.sidebar{
    height: 50px;
    width: 400px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sidebar li{
    list-style: none;
}
.join{
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgb(255, 115, 0);
    color: white;
}
.join:hover{
    cursor: pointer;
    background-color: rgb(227, 102, 0);
}
.container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.2rem;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #bebebe;
}
.logo-box{
    height: 450px;
    width: 600px;
    /* border: 2px solid black; */
    text-align: center;
}

.logo-box img{
    margin-top: 4rem;
    height: 10rem;
    width: 15rem;
}
.About-gym{
    font-size: 30px;
    color: rgb(227, 102, 0);
    margin-top: 0.8rem;
    margin-bottom: 1rem;
}
.offer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-left: 5rem;
    height: 5.6rem;
    width: 28rem;
    /* border: 2px solid red; */
}
.offer p{
    font-size: 1.4rem;
}
.offer-valid{
    color: red;
}

.image-box{
    height: 450px;
    width: 600px;
    /* border: 2px solid brown; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-box img{
    height: 25rem;
    width: 29rem;
    object-fit: cover;
}

/* Free Here The Second Part of Web Page is Designed */


.pricing{
    height: 30.3rem;
    width: 100%;
    /* border: 2px solid black; */
    border-bottom: 1.2px solid #bebebe;
}

.pricing-text{
    height: 8rem;
    width: 55rem;
    /* border: 2px solid red; */
    text-align: center;
    margin: auto;
    margin-top: 3rem;
}
.pricing-text p{
    margin: 7px;
    font-size: xx-large;
}

.price-boxes{
    margin-top: 0.8rem;
    height: 18rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.free-box{
    height: 17.5rem;
    width: 18rem;
    border: 1.5px solid black;
    border-radius: 0.7rem;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sign-in{
    padding: 0.5rem;
    background-color: rgb(255, 115, 0);
    color: white;
    border: none;
    border-radius: 0.2rem;
    font-size: 1rem;
}
.sign-in:hover{
    cursor: pointer;
    background-color: rgb(227, 102, 0);
}
.pro{
    height: 17.5rem;
    width: 18rem;
    border: 1.5px solid black;
    border-radius: 0.7rem;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Enterprise{
    height: 17.5rem;
    width: 18rem;
    border: 1.5px solid black;
    border-radius: 0.7rem;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* 3rd Campare Plans Layer of Web Page */


.campare-plans{
    height: 33rem;
    width: 100%;
    border-bottom: 1px solid #bebebe;
    text-align: center;
}
.plan-text{
    height: 4rem;
    width: 100%;
    margin-top: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.camp-table{
    height: 23.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table tr th{
    font-size: 1.5rem;
    height: 4rem;
    width: 14rem;
}
table tr{
    text-align: center;
    height: 3rem;
}
table tr td{
    border-top: 1px solid black;
    font-size: larger;
}

/* Footer Part Of Web Page */

footer{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}